<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot Interface</title>
  <link rel="stylesheet" href="../static/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
  <div class="chatbot-container">
    <div class="chatbot-header">
      <h2>Geeko</h2>
    </div>
    <div class="chatbot-messages" id="chatbot-messages">
      <!-- Chat messages will appear here -->
    </div>
    <div class="chatbot-input">
      <input type="text" id="user-input" placeholder="Type your message...">
      <button id="send-btn">Send</button>
      <button id="test-asst" class="test-asst"  >Testing Assist</button>
    </div>
  </div>

  <script src="../static/script.js"></script>
</body>
</html>